
.container1 {
    border: 1px solid #ccc;
    border-radius: 10px; margin: 30px;max-width: -webkit-fill-available;
    padding-bottom: 50px;

}

.cardProfilo{
width: auto;
    padding-top: 0px;
    height: fit-content;
}

.list1{
    background-color:#575c61
}

.btn{
    background-color: rgb(132, 208, 203);
}

.btn-registrati{
    display: none;
}

.divRegistrati{
    background-color: #575c61; height: fit-content; width: fit-content; margin-left: 628px;
    display: none;
}